/app/bootstrap.php.cache
/app/cache/
/app/cache/dev/profiler
/app/cache/prod/twig
/app/config/parameters.yml
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar

