{% extends "FSPBundle::accueil.html.twig" %}
{% block blocCentre %}
  <div id="blocCentre">
   <div id="contenu">
    <div id ="AnnoncesTheme">
     <p>Annonces - Culture</p>
    </div>
   </div>
  </div>
{% endblock %}
