{% extends "FSPBundle::accueil.html.twig" %}
{% block blocCentre %}
  <div id="blocCentre">
   <div id="contenu">
    <div id="AnnoncesThemeEvenement">
     <p>Annonces - Evénement</p>
    </div>
   </div>
  </div>
{% endblock %}
