{% extends "FSPBundle::accueil.html.twig" %}
{% block blocCentre %}
  <div id="blocCentre">
   <div id="contenu">
    <div id="gererInscription">
     <p>Inscription</p>
    </div>
    <form method="POST" action="{{path('fsp_validerinscription')}}" class="formInscription">
      <div class="inscription">
       <input id="nom" type="text" name="nom" placeholder="Nom *"/>
       <input id="info" type="text" name="prenom" placeholder="Prénom *"/>
       <input id="info" type="text" name="dateNaissance" placeholder="Date de Naissance *"/>
       <input id="info" type="text" name="pays" placeholder="Pays *"/>
       <input id="info" type="text" name="email" placeholder="E-mail *"/>
       <input id="info" type="password" name="mdp" placeholder="Mot de Passe *"/>
       <input id="info" type="password" placeholder="Confirmation Mot de Passe *"/>
       <input id="validerIns" type="submit" value="Valider" name="valider"/>
       <input id="annulerIns" type="reset" value="Annuler" name="annuler"/>
      </div>
    </form>
   </div>
  </div>
{% endblock %}
