{% extends "FSPBundle::accueil.html.twig" %}
{% block blocCentre %}
  <div id="blocCentre">
   <div id="contenu">
    <div id="gererAnnonces">
     <p>Modifier une annonce</p>
    </div>
   </div>
  </div>
{% endblock %}
